@model reCaptcha.Models.UserModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="g-recaptcha" data-sitekey="6LcdQgkTAAAAAC-PZO8X_k3Ey0KNZYS4BFqxuBpM" data-type="image" ></div>

            
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}

@section scripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}